/* Início CSS Home */
body {
    font-family: 'Poppins', sans-serif;
}

.body-home {
    background-color: #181717;
}

.titulo-descricao {
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    text-transform: uppercase;
}

.aplicacoes h4 {
	color: #FFFFFF;
}

.aplicacoes h4:hover {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
}
/* Fim CSS Home */

/* Início CSS Player de Música */
.body-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #181717;
    color: #DDDDDD;
}

.img-jazz {
    width: 300px;
    height: 300px;
    filter: drop-shadow(2px 2px 6px #FFFFFF);
}

.descricao, .duracao {
    width: 300px;
}

.descricao {
    margin-top: 15px;
}

.descricao h2, .descricao p {
    line-height: 2;
}

.descricao h2 {
    font-size: 18px;
    font-weight: 600;  
}

.descricao p {
    font-size: 14px;
}

.barra {
    width: 300px;
    height: 6px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress {
    height: 6px;
    width: 0;
    background-color: #333333;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #EEEEEE;
    border-radius: 50%;
    margin-left: -10px;
    cursor: pointer;
}

.tempo {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
}

.setas {
    font-size: 40px;
    cursor: pointer;
}

div .botao-pause {
    display: none;
}

/* Fim CSS Player de Música */



@media screen and (max-width: 769px) {
}